body{
    background-color: cornflowerblue;
}

.container{
    max-width: 500px;
    margin-top: 50px;
}

#tasks-list li{
    cursor: pointer;
    transition: 0.2s;
}

#tasks-list li:hover{
    background-color: cornflowerblue;
}